
/* HERO BOX */

.hero-box {

    background: linear-gradient(
        135deg,
        #4a90e2,
        #7b5cff
    );

    color: white;

    padding: 40px;

    border-radius: 20px;

    text-align: center;

    box-shadow:
        0px 15px 40px rgba(0,0,0,0.25);

}



.hero-title {

    font-size: 40px;
    font-weight: bold;

}



.hero-sub {

    font-size: 18px;
    opacity: 0.9;

}




/* CARD */

.main-card {

    border-radius: 20px;

    box-shadow:
        0px 8px 25px rgba(0,0,0,0.15);

    transition: 0.3s;

}



/* HOVER */

.main-card:hover {

    transform: translateY(-10px);

    box-shadow:
        0px 25px 50px rgba(0,0,0,0.25);

}




/* ICON */

.card-icon {

    font-size: 40px;

    margin-bottom: 10px;

}
